<h1>Listing pets</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Description</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      	<td><%= image_tag(pet.image_url, class: 'list_image') %></td>
        <td><%= pet.petType %></td>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td class="list_description"><%= truncate(strip_tags(pet.description)), length: 80 %></td>
        <td><%= pet.image_url %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
